<style>  

   img{
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    width=50% ;
}
    </style>

    <body>
        background-image: url();
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;


    </body>